<h1>Welcome to Yeldan!<h1>

<% if logged_in? %>
    <h2>You are logged in, <%= current_user.username %></h2>
<% end %>

<%= button_to "Login", '/login', method: :get %>
<%= button_to "Sign Up", '/users/new', method: :get %>